<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercadoliebre</title>
</head>

<body>

    <header>

        <div class="top-bar">
            <a class="logo" href="/"><img width=250px src="img/logo-mercado-liebre.svg" alt="Logo"></a>

            <label for="search">
            <input class="search-bar" type="text" placeholder="Buscar productos, marcas...">
            <button class="search-button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </label>
    
            <h4><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="bottom-bar">
            <ul class="left-navbar">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="tiendas_oficiales">Tiendas Oficiales</a></li>
                <li><a href="vender">Vender</a></li>
                <li><a href="ayuda">Ayuda</a></li>
            </ul>
            
            <ul class="right-navbar">
                <li><a href="registro">Creá tu cuenta <i class="fa-light fa-id-card"></i></a></li>
                <li><a href="iniciar-sesion">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="compras">Mis Compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <img class="banner" src="img/img-home-banner.jpg" alt="banner">

    </header>

    <br>

    <main>

        <section>

            <h2 class="titular">Basado en tu última visita</h2>

            <article>
                <img class="imagen-producto" src="img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <strong>Cafetera Moulinex</strong>
            </article>

            <article>
                <img class="imagen-producto" src="img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <strong>MacBook Pro 2019</strong>
            </article>

            <article>
                <img class="imagen-producto" src="img/img-samsung-galaxy-s10.jpg" alt="Galaxy s10">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <strong>Samsung Galaxy S10</strong>
            </article>

            <article>
                <img class="imagen-producto" src="img/img-tv-samsung-smart.jpg" alt="Smart TV">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <strong>Smart TV Samsung 43"</strong>
            </article>

        </section>

        <br>
    
        <section>

            <h2 class="titular" id=ofertas>Ofertas</h2>

            <article>
                <img class="imagen-producto" src="img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <strong class="des">Cafetera Moulinex</strong>
            </article>

            <article>
                <img class="imagen-producto" src="img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <strong>MacBook Pro 2019</strong>
            </article>
            
            <article>
                <img class="imagen-producto" src="img/img-samsung-galaxy-s10.jpg" alt="Galaxy s10">
                <p class=" precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <strong>Samsung Galaxy S10</strong>
            </article>

            <article>
                <img class="imagen-producto" src="img/img-tv-samsung-smart.jpg" alt="Smart TV">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <strong>Smart TV Samsung 43"</strong>
            </article>

        </section>

    </main>

    <br>

    <footer>

        <section>

            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section>

            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section>

            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>

        <section>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>
</body>
</html>
