<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
</head>

<body>

    <header>

        <img src="img/logo-mercado-liebre.svg" alt="Logo">

        <p>Lugar para poner barra de búsqueda</p>
    
        <p>Compra en cuotas y sin tarjeta de credito</p>

        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Compras</li>
        </ul>

        <img src="img/img-home-banner.jpg" alt="banner">

    </header>

    <main>

        <section>

            <h2>Basado en tu última visita</h2>

            <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <strong>Cafetera Moulinex</strong>
            <p></p>

            <img src="img/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000</p>
            <p>20% OFF</p>
            <strong>MacBook Pro 2019</strong>
            <p></p>

            <img src="img/img-samsung-galaxy-s10.jpg" alt="Galaxy s10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <strong>Samsung Galaxy S10</strong>
            <p></p>

            <img src="img/img-tv-samsung-smart.jpg" alt="Smart TV">
            <p>$23.200</p>
            <p>5% OFF</p>
            <strong>Smart TV Samsung 43"</strong>
            <p></p>

        </section>
    
        <section>

            <h2>Ofertas</h2>

            <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <strong>Cafetera Moulinex</strong>
            <p></p>

            <img src="img/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000</p>
            <p>20% OFF</p>
            <strong>MacBook Pro 2019</strong>
            <p></p>

            <img src="img/img-samsung-galaxy-s10.jpg" alt="Galaxy s10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <strong>Samsung Galaxy S10</strong>
            <p></p>

            <img src="img/img-tv-samsung-smart.jpg" alt="Smart TV">
            <p>$23.200</p>
            <p>5% OFF</p>
            <strong>Smart TV Samsung 43"</strong>
            <p></p>

        </section>

    </main>

    <footer>

        <section>

            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section>

            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section>

            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>

        <section>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>
</body>
</html>