<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/styles.css">
        <title>Iniciar Sesion</title>

    </head>

    <body>
        <header>

            <div class="top-bar">
                <a class="logo" href="/"><img width=250px src="img/logo-mercado-liebre.svg" alt="Logo"></a>

                <label for="search">
                    <input class="search-bar" type="text" placeholder="Buscar productos, marcas...">
                    <button class="search-button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </label>

                <h4><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <nav class="bottom-bar">
                <ul class="left-navbar">
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="tiendas_oficiales">Tiendas Oficiales</a></li>
                    <li><a href="vender">Vender</a></li>
                    <li><a href="ayuda">Ayuda</a></li>
                </ul>
        
                <ul class="right-navbar">
                    <li><a href="register">Creá tu cuenta <i class="fa-sharp fa-solid fa-id-card"></i></a></li>
                    <li></li><a href="log-in">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="compras">Mis Compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>

        </header>

        <main>
            <h1><i class="fa-solid fa-right-to-bracket"></i> Soy un Iniciar Sesion :D</h1>
        </main>

    </body>
</html>