<!DOCTYPE html>

<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles_header.css">
    <link rel="stylesheet" href="/css/styles_footer.css">
    <link rel="stylesheet" href="/css/styles_register.css">
        <title>Registrarse</title>

    </head>

    <body>

        <header>

            <div class="top-bar">
                <a class="logo-mercado-liebre" href="/"><img src="img/logo-mercado-liebre.svg" alt="Logo"></a>
                
                <div>
                    <label for="search">
                    <input class="search-bar" type="text" placeholder="Buscar productos, marcas...">
                    <button class="search-button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
        
                <h4 class="header-msg"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
            <nav class="bottom-bar">
                <ul class="left-navbar">
                    <li><a class="header-link" href="#ofertas">Ofertas</a></li>
                    <li><a class="header-link" href="tiendas_oficiales">Tiendas Oficiales</a></li>
                    <li><a class="header-link" href="vender">Vender</a></li>
                    <li><a class="header-link" href="ayuda">Ayuda</a></li>
                </ul>
                
                <ul class="right-navbar">
                    <li><a class="header-link" href="/register">Creá tu cuenta <i class="fa-sharp fa-solid fa-id-card"></i></a></li>
                    <li><a class="header-link" href="/log-in">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a class="header-link" href="compras">Mis Compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
    
            <img class="banner" src="img/img-home-banner.jpg" alt="banner">
    
        </header>

        <main>

            <div>

                <form action="/register" method="post">

                    <label for="nombre">Nombre Completo: </label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo" required>

                    <label for="user">Nombre de Usuario: </label>
                    <input type="text" name="user" id="user" placeholder="Nombre de Usuario" required>

                    <label for="email"> Direccion de Correo: </label>
                    <input type="email" name="email" id="email" placeholder="ejemplo@mail.com" required>

                    <label for="nacimiento">Fecha de nacimiento: </label>
                    <input type="date" required max="2004-03-22">

                    <label for="domicilio"> Domicilio: </label>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">

                    <label for="tipoUsuario">Perfil de Usuario: </label>
                    <label>
                        <input type="radio" name="tipoUsuario" id="tipoUsuario" value="comprador" required> Comprador
                        <input type="radio" name="tipoUsuario" id="tipoUsuario" value="Vendedor" required> Vendedor
                    </label>

                    <label for="intereses">Intereses: </label>
                    <label>
                        <input type="checkbox" name="intereses" value="electro"> Electro
                        <input type="checkbox" name="intereses" value="moda"> Moda
                        <input type="checkbox" name="intereses" value="hogar"> Hogar
                        <input type="checkbox" name="intereses" value="juguetería"> Juguetería
                        <input type="checkbox" name="intereses" value="vidaSana"> Vida sana
                    </label>

                    <label for="Foto">Foto de usuario</label>
                    <input type="file" name="fotoPerfil" id="fotoPerfil" accept=".jpg, .png">

                    <label for="password">Contraseña: </label>
                    <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" required minlength="8">

                    <label for="confirmPassword">Confirmar contraseña: </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repetí tu contraseña" required>

                    <button type="submit">Registrarse</button>
                    <button type="reset">Borrar datos</button>
                </form>

            </div>

        </main>

        <footer>

            <section>
    
                <i id= "iconos-footer" class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
    
            </section>
    
            <br>
    
            <section>
    
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
    
            </section>
    
            <br>
    
            <section>
                
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
    
            </section>
    
            <br>
    
            <div class="copyright">
                <section>
    
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
                </section>
            </div>
    
        </footer>

    </body>

    
</html>