* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {

    background-color: #ebebeb;
    width: 100vw;
}

main {
    width: 90%;
    display:block;
    margin: 5%
}

main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

main section article {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    position: relative;
}

.detalles {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 7px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 30px;
    bottom: 80px;
    color: #39b54a;
    text-align: center;
}

.descuento {
    color: #39b54a;
}

p {
    font-size: 12px;
}

.titular {
    font-size: 24px;
    margin: 20px auto;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}

.descripcion {
    font-size: 16px;
}

.imagen-producto {
    width: 100%;
    box-sizing: border-box;
}

h4 {
    margin-bottom: 5px;
}

@media (min-width: 361px) {     /* tablet viewport */
    .logo-mercado-liebre, .top-bar label, .header-msg {
        width: 30vw;
    }
    .burger-menu {
        display: none;
    }
    .left-navbar, .right-navbar {
        display: flex;
    }
    main section article {
        width: 45%;
    }
}

@media (min-width: 769px) {    /* desktop viewport */
    .burger-menu {
        display: none;
    }
    .left-navbar, .right-navbar {
        display:flex;
    }
    main section article {
        width: 20%;
    }
}
/* ● Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

● Tipografías
Familia: 'Roboto'

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

● Íconos

El departamento de diseño usó los íconos de este sitio:
https://fontawesome.com/icons?d=gallery&m=free
*/