* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

p {
    font-size: 12px;
}

body {

    background-color: #ebebeb;
    width: 100vw;
    margin-top: 188px;
}

main {
    width: 90%;
    display:block;
    margin: 5%
}

.submit {
    transition: all 150ms linear;
}

.submit:hover {
    background-color: #0022AA;
    color: #ebebeb;
}

@media (min-width: 361px) {     /* tablet viewport */
    body {
        margin-top: 160px;
    }
}

@media (min-width: 769px) {    /* desktop viewport */
    body {
        margin-top: 110px;
    }
}